body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../头部_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:53px;
    top:21px;
    width:645px;
    height:476px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:651px;
    height:482px;
}

.u1 {
    position:absolute;
    left:2px;
    top:230px;
    width:641px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../学生端_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:645px;
    height:3px;
}

.u3 {
    position:absolute;
    left:53px;
    top:71px;
    width:645px;
    height:10px;
    
}

.u4_line {
    background-image: url('../学生端_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:416px;
}

.u4 {
    position:absolute;
    left:163px;
    top:81px;
    width:10px;
    height:416px;
    
}

.u5_normal {
    background-image: url('../学生端_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:60px;
    top:27px;
    width:544px;
    height:44px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:550px;
    height:50px;
}

.u6 {
    position:absolute;
    left:2px;
    top:7px;
    width:540px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../学生端_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:614px;
    top:36px;
    width:66px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../学生答题情况列表页面_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:63px;
    top:110px;
    width:100px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../学生答题情况列表页面_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:63px;
    top:155px;
    width:100px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../学生答题情况列表页面_files/u10_normal.png');
}

.u14_container {
    position:absolute;
    left:63px;
    top:202px;
    width:100px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../学生答题情况列表页面_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:206px;
    top:155px;
    width:423px;
    height:34px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:429px;
    height:40px;
}

.u17 {
    position:absolute;
    left:2px;
    top:9px;
    width:419px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../学生答题情况列表页面_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:206px;
    top:101px;
    width:423px;
    height:34px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:429px;
    height:40px;
}

.u19 {
    position:absolute;
    left:2px;
    top:9px;
    width:419px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

